<div class="navbar bg-base-100 shadow-sm">
    <div class="navbar-start"></div>
    <div class="navbar-center">
        <a class="btn btn-ghost text-xl">RICK & MORTY</a>
    </div>
  <div class="navbar-end">
      <a 
        class="btn text-xl"
        [routerLink]="['characters']"
        routerLinkActive="btn-primary" 
        >Characters</a>
      <a 
        class="btn text-xl"
        [routerLink]="['episodes']"
        routerLinkActive="btn-primary" 
        >Episodes</a>
      <a 
        class="btn text-xl"
        [routerLink]="['locations']"
        routerLinkActive="btn-primary"
        >Locations</a>
  </div>
</div>